.card {
  width: 320px;
  height: 509px;
  background-color: #fff;
  background-image: url("../assets/Photo.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-top: 21px;
  padding-left: 48px;
}
